@model DisplayBoardConfigurationModel

@{
    ViewBag.Title = "Edit";
}

<script id="configuration" type="text/json">@Html.Raw(Model.ToJson())</script>

<div id="slide-template">
    <p class="slide">
        Url: <input class="url" type="text">
        <br />
        Title: <input class="title" type="text"/>
        <br />
        Timeout: <input class="timeout" type="text"/>
        <br />
        <button class="remove">Remove</button>
    </p>
</div>

<div id="slides"></div>

<p>
    <button id="add">Add</button>
</p>

<p>
    Secret: <input id="secret" type="password" />
</p>

<button id="submit">Save</button>

<style type="text/css">
    #slide-template
    {
        display: none;
    }
</style>
<script type="text/javascript">
    var data = JSON.parse($('#configuration').html());

    $slideTemplate = $('#slide-template');
    $slides = $('#slides');
    $secret = $('#secret');
    
    for (var index in data.slides) {
        var slideData = data.slides[index];

        var $slide = $slideTemplate.children().clone();
        $('.url', $slide).val(slideData.url);
        $('.title', $slide).val(slideData.title);
        $('.timeout', $slide).val(slideData.timeout);
        $('.remove', $slide).click(function() {
            $(this).parent().remove();
        });

        $slide.appendTo($slides);
    }

    $('#add').click(function() {
        var $slide = $slideTemplate.children().clone();
        $slide.appendTo($slides);
    });
    
    $('#submit').click(function () {
        console.log('click!');
        data.slides = [];
        $('.slide', $slides).each(function() {
            var slideData = {
                url: $('.url', $(this)).val(),
                title: $('.title', $(this)).val(),
                timeout: $('.timeout', $(this)).val()
            };

            console.log(slideData);
            data.slides.push(slideData);
        });

        data.secret = $secret.val();

        var apiUrl = '';
        
        $.ajax({
            type: 'POST',
            url: apiUrl,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function() {
                alert('done!');
            }});
    });
</script>