@model DisplayBoardConfigurationModel

@{
    ViewBag.Title = "Edit";
}

<script id="configuration" type="text/json">@Html.Raw(Model.ToJson())</script>

<div id="slide-template">
    <p class="slide">
        <span class="label">URL:</span><input class="url" type="text">
        <br />
        <span class="label">Title:</span><input class="title" type="text"/>
        <br />
        <span class="label">Timeout:</span><input class="timeout" type="text"/>
        <br />
        <button class="remove">x</button>
    </p>
</div>

<div id="slides"></div>

<p>
    <button id="add">Add</button>
</p>

<p>
    Secret: <input id="secret" type="password" />
</p>

<div id="submitPanel">
    <button id="submit">Save</button>
    <span class="saving message">saving...</span>
    <span class="success message">success!</span>
    <span class="error message">error</span>
</div>
<style type="text/css">
    #slide-template,
    #submitPanel .message
    {
        display: none;
    }

    .slide
    {
        width: 500px;
        border: 1px solid black;
        background-color: whitesmoke;
        position: relative;
    }

    .slide .label
    {
        display: inline-block;
        width: 50px;
        margin: 5px;
    }

    .slide input[type=text]
    {
        width: 425px;
    }

    .slide .remove
    {
        position: absolute;
        right: -10px;
        top: -10px;
    }

    #submitPanel .message
    {
        display: none;
    }

    #submitPanel.saving .saving.message,
    #submitPanel.success .success.message,
    #submitPanel.error .error.message
    {
        display: inline;
    }
</style>
<script type="text/javascript">
    var data = JSON.parse($('#configuration').html());

    $slideTemplate = $('#slide-template');
    $slides = $('#slides');
    $secret = $('#secret');

    for (var index in data.slides) {
        var slideData = data.slides[index];

        var $slide = $slideTemplate.children().clone();
        $('.url', $slide).val(slideData.url);
        $('.title', $slide).val(slideData.title);
        $('.timeout', $slide).val(slideData.timeout);
        $('.remove', $slide).click(function () {
            $(this).parent().remove();
        });

        $slide.appendTo($slides);
    }

    $('#add').click(function () {
        var $slide = $slideTemplate.children().clone();
        $slide.appendTo($slides);
    });

    $('input[type=text], input[type=password]').bind("keypress", function (e) {
        if (e.keyCode == 13) {
            $('#submit').trigger('click');
            return false;
        }
    });

    $('#submit').click(function () {
        $('#submitPanel').attr('class', 'saving');
        data.slides = [];
        $('.slide', $slides).each(function () {
            var slideData = {
                url: $('.url', $(this)).val(),
                title: $('.title', $(this)).val(),
                timeout: $('.timeout', $(this)).val()
            };

            console.log(slideData);
            data.slides.push(slideData);
        });

        data.secret = $secret.val();

        var apiUrl = '';

        $.ajax({
            type: 'POST',
            url: apiUrl,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function () {
                $('#submitPanel').attr('class', 'success');
            },
            error: function () {
                $('#submitPanel').attr('class', 'error');
            }
        });
    });
</script>