@model dynamic

@{
    ViewBag.Title = "Display Board";
}

@using(Html.BeginForm("Create", "DisplayBoard")){
    <p>
        name: <input name="name" type="text"/>
    </p>
    
    <p>
        secret: <input name="secret" type="password" />
    </p>
    
  <button type="submit">create</button>
}
